* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  list-style: none;
}

.header {
  background: url("../assets/header/header-background.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 39.2rem;
}

.imagens-header {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.star-logo {
  width: 20%;
  position: absolute;
  top: 45%;
  left: 20.5%;
}

.header-hero {
  width: 65%;
  position: absolute;
  top: 5%;
  left: 10%;
  z-index: 2;
}

.wars-logo {
  width: 20%;
  position: absolute;
  top: 45%;
  right: 19%;
}

.header-aside {
  width: 9%;
  position: absolute;
  top: 60%;
  right: 16%;
}

.bg-container {
  background: url("../assets/body/body-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.play {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  background-size: contain;
  background-repeat: no-repeat;
}

.start-to-play {
  width: 20rem;
  height: 28.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: url("../assets/body/about-game.png");
  background-size: cover;
  position: absolute;
  top: -1%;
  left: 11%;
  z-index: 3;
}
.start-to-play h1 {
  width: 45%;
  color: #fff;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
}
.start-to-play p {
  width: 85%;
  color: #fff;
  opacity: 70%;
}
.start-to-play button {
  padding: 0.5rem 2rem;
  background: transparent;
  border-color: #fff;
  color: #fff;
  border-radius: 5px;
  opacity: 80%;
}

.about {
  width: 760px;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  right: 7%;
  top: 6.6%;
  text-align: end;
}

.about h2 {
  text-transform: uppercase;
}

.about img {
  width: 20rem;
  height: 11.25rem;
}
.about section {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.about h2 {
  font-weight: 700;
}
.about hr {
  width: 35%;
  border: 1px solid black;
  align-self: flex-end;
}

.first-divider {
  width: 80%;
  position: relative;
  top: 43%;
  left: 12%;
  border: 2px solid rgb(70, 67, 67);
  align-self: center;
}

/* Game Structure */

.estrutura-sw {
  height: 67rem;
  position: relative;
  top: 40%;
}
.hero-image-1 {
  width: 40%;
  position: absolute;
  bottom: -4%;
  left: 10%;
}
.hero-image-2 {
  width: 19%;
  position: absolute;
  bottom: -5%;
  right: 12%;
}
.game-list {
  width: 22rem;
  height: 27rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  left: 40%;
  bottom: 4%;
  text-align: end;
}

.game-list h2 {
  width: 80%;
  font-weight: 600;
  font-size: 45px;
  text-transform: uppercase;
}
.game-list h2 span {
  font-weight: 700;
}
.game-list p {
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 700;
}
.game-list ul {
  margin-top: 20px;
}
.game-list ul li {
  font-size: 20px;
  text-transform: uppercase;
  margin: 10px 0px;
  padding: 5px;
}
.game-list ul li:hover {
  color: #fff;
  background-color: #db1439;
  cursor: pointer;
}

.download {
  position: relative;
  height: 27rem;
}
.download-image {
  width: 27%;
  position: relative;
  top: -18rem;
  left: 9%;
}

.download-image img {
  width: 100%;
}

.atributos {
  height: 115rem;
  position: relative;
  z-index: -1;
  bottom: 0;
  background-color: #2d2d2d;
}
.atributos > h2 {
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  top: 8%;
  left: 10%;
  font-size: 35px;
}

.images {
  width: 95%;
  display: flex;
  position: relative;
  top: 14%;
  left: 5%;
}
.images .container-1 {
  width: 60%;
  cursor: pointer;
}
.images .container-1 img {
  width: 98%;
  height: 98%;
}

.images .container-1 #filtro:hover {
  background-color: tomato;
  background: url("../assets/body/novos-graficos.svg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.images .container-2 {
  width: 70%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}
.images .container-2 img {
  width: 20rem;
  z-index: 12;
}

.images .container-2 #filtro:hover {
  background-color: tomato;
  background: url("../assets/body/novos-graficos.svg");
  background-size: cover;
}

.image-divider {
  position: absolute;
  top: 40%;
  left: 10%;
}

.image-divider img {
  width: 90%;
}

.details {
  position: absolute;
  bottom: 8%;
  left: 42%;
}
.details h2 {
  text-transform: uppercase;
  color: #fff;
  font-size: 35px;
}

.download .buttons {
  width: 49rem;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 40%;
  top: 16%;
}
.download .buttons div {
  height: 12.188rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all ease 0.8s;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
}
.download .buttons div:hover h2:not(:hover) {
  font-weight: 700;
}
.download .buttons div h2 {
  font-size: 35px;
  font-weight: 300;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
}
.download .buttons button {
  width: 12rem;
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  border: none;
  color: #fff;
  background-color: #000;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #31302b;
  transition: all ease 0.8s;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
}
.download .buttons div:hover button:hover {
  box-shadow: inset -12.5rem 0 0 0 #bd0f0f;
  color: #fff;
}
.download .buttons div p {
  width: 9rem;
  text-align: center;
}
.download .buttons div span {
  width: 4rem;
  height: 0.3rem;
  background-color: #222;
  box-shadow: inset 0 0 0 0 #31302b;
  transition: all ease 0.8s;
  -webkit-transition: all ease 0.8s;
  -moz-transition: all ease 0.8s;
}
.download .buttons div:hover span:not(:hover) {
  box-shadow: inset -4rem 0 0 0 #e41d1d;
  color: #fff;
}

/* Footer */

footer {
  width: 62%;
  height: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ff5a56;
  position: relative;
  color: #fff;
}

footer .darth-vader-footer {
  width: 70%;
  position: absolute;
  left: 81%;
  bottom: 4%;
}

footer .darth-vader-footer img {
  width: 100%;
}
footer .aplicativos,
.footer-info {
  width: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 3rem 0rem;
}
footer .aplicativos h2 {
  font-size: 37px;
  text-transform: uppercase;
  color: #fff;
}

footer .aplicativos .app-icons {
  width: 100%;
  display: flex;
  margin-top: 2rem;
}
footer .aplicativos .app-icons img {
  width: 40%;
  margin: 0rem 0.5rem;
}

footer .footer-divider {
  border: solid 2px #d74430;
  width: 50%;
}

footer .footer-info .info-icons {
  width: 40%;
  padding-bottom: 2rem;
}
footer .footer-info .info-icons img {
  width: 100%;
}

/* Media queries */
@media (min-width: 1441px) {
  .header {
    background: url("../assets/header/header-background.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 52.2rem;
  }

  .about {
    top: 5.3%;
  }

  .estrutura-sw {
    height: 78rem;
  }
  .game-list {
    width: 30rem;
    left: 37%;
    bottom: 14%;
  }
  .game-list h2 {
    width: 60%;
  }
  .game-list ul li {
    font-size: 25px;
  }

  .first-divider {
    top: 40%;
  }

  .atributos {
    height: 145rem;
  }

  .images .container-1#filtro {
    height: 33rem;
  }

  .images .container-2{
    width: 68%;
    display: flex;
    flex-wrap: wrap;
  }
  .images .container-2 img {
    width: 25.3rem;
  }

  .images .container-2 #filtro {
    width: 26rem;
    height: 16rem;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -2%;
  }

  .image-divider {
    left: 5%;
  }
  .image-divider img {
    width: 100%;
  }

  .download {
    height: 44rem;
  }
}

@media (max-width: 1024px) {
  .header {
    height: 27.874rem;
  }

  .imagens-header .star-logo {
    width: 25%;
    top: 29%;
    left: 15.5%;
  }
  .imagens-header .hero-image {
    top: 2%;
    left: 10%;
  }
  .imagens-header .wars-logo {
    width: 25%;
    top: 29%;
    right: 13%;
  }
  .imagens-header .aside-image {
    width: 7%;
    top: 36%;
  }

  .about {
    width: 23.75rem;
    height: 23.063rem;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-end;
    top: 1.5%;
  }
  .about section {
    width: 100%;
  }

  .hero-image-1 {
    width: 50%;
    bottom: -4%;
    left: 7%;
  }
  .hero-image-2 {
    width: 25%;
    bottom: -5%;
    right: 8%;
  }
  .game-list {
    left: 32%;
    bottom: 2%;
  }
  .game-list h2 {
    width: 70%;
    font-size: 36px;
  }
  .game-list ul li {
    font-size: 17px;
  }

  .atributos {
    height: 145rem;
  }

  .images {
    width: 100%;
    left: unset;
    flex-direction: column;
    align-items: center;
  }

  .images .container-1 {
    width: 85.3%;
    position: relative;
    left: 1%;
  }
  .images .container-1 img {
    width: 100%;
    height: 99%;
  }
  .images .container-2{
    width: 85.5%;
    position: relative;
    left: 1%;
  }
  .images .container-2 img {
    width: 27.2rem;
  }
  .images .container-2 #filtro {
    width: 27.2rem;
    height: 16.5rem;
  }

  .image-divider {
    width: 100%;
    display: flex;
    justify-content: center;
    top: unset;
    left: unset;
    bottom: 14%;
  }
  .image-divider img {
    width: 86%;
    position: relative;
    left: 1%;
  }

  .download {
    height: 22rem;
  }
  .download .download-image {
    width: 32%;
    top: -16rem;
    left: 5%;
  }
  .download .buttons {
    width: 37rem;
    left: 36%;
    top: 5%;
  }

  .download .buttons div h2 {
    font-size: 30px;
  }
  .download .buttons div button {
    width: 9rem;
    font-size: 15px;
  }

  footer {
    height: 38rem;
  }
  .darth-vader-footer {
  }
}

@media (max-width: 768px) {
  .header {
    height: 20.875rem;
  }

  .imagens-header .star-logo {
    top: 18%;
    left: 15.5%;
  }
  .imagens-header .wars-logo {
    top: 18%;
    right: 13%;
  }
  .imagens-header .header-aside {
    width: 7%;
    top: 24%;
  }

  .play .start-to-play {
    width: 23rem;
    height: 34.125rem;
    top: 1%;
    left: 45%;
  }

  .bg-container .about {
    width: 25.75rem;
    height: 24.063rem;
    top: 12%;
    text-align: start;
  }
  .bg-container .about section {
    width: 90%;
  }
  .bg-container .about-the-game hr {
    align-self: flex-start;
  }

  .bg-container .about img {
    width: 23.125rem;
    height: 17.5rem;
  }

  .bg-container .estrutura-sw {
    height: 92rem;
  }

  .estrutura-sw .first-divider {
    top: 70%;
  }
  .hero-image-1 {
    width: 53%;
    left: 4%;
  }
  .hero-image-2 {
    width: 27%;
    right: 4%;
  }
  .game-list {
    left: 26%;
    bottom: -1%;
  }

  .atributos {
    height: 210rem;
  }
  .atributos .details {
    left: 32%;
  }

  .images .container-2 #filtro {
    width: 41.2rem;
    height: 25.5rem;
  }

  .images .container-2 #filtro img {
    width: 100%;
  }

  .atributos .image-divider {
    bottom: 12%;
  }

  .download {
    height: 28rem;
  }
  .download .download-image {
    width: 37%;
    top: -14rem;
    left: 29%;
  }
  .download .buttons {
    top: 46%;
    left: 12%;
  }

  footer .aplicativos,
  .footer-info {
    width: 19rem;
  }

  footer .darth-vader-footer {
    width: 81%;
    left: 80%;
    bottom: 14%;
  }
}

@media (max-width: 425px) {
  .header {
    height: 11.563rem;
  }
}

@media (max-width: 375px) {
  .header {
    height: 10.188rem;
  }
  .star-logo {
    top: 10.5%;
    left: 16.5%;
  }
  .header-hero {
    top: 0%;
    left: 9%;
    width: 70%;
  }
  .wars-logo {
    top: 10.8%;
    right: 12%;
  }
  .header-aside {
    width: 16%;
    top: 16%;
    z-index: 20;
    right: 8%;
  }

  .start-to-play {
    width: 16rem;
    height: 24.125rem;
    top: 1%;
    left: 25%;
  }
  .start-to-play h1 {
    width: 47%;
    font-size: 1.5rem;
  }
  .start-to-play p {
    width: 77%;
    font-size: 14px;
    font-weight: lighter;
  }

  .play .start-to-play {
    width: 14rem;
    height: 22.063rem;
    top: 2%;
    left: 33%;
  }
  .play .start-to-play h1 {
    width: 38%;
    font-size: 1.1rem;
  }
  .play .start-to-play p {
    width: 66%;
    font-size: 10px;
  }
  .play .start-to-play button {
    font-size: 8px;
    padding: 5px 13px;
  }
  .bg-container .about {
    height: 340px;
    top: 16%;
  }
  .bg-container .about img {
    width: 12.125rem;
    height: 7.5rem;
  }
  .bg-container .about section {
    width: 76%;
    height: 190px;
    text-align: end;
  }
  .bg-container .about-the-game sectopm h2 {
    font-size: larger;
  }
  .bg-container .about-the-game section hr {
    align-self: flex-end;
  }
  .bg-container .about-the-game section p {
    font-size: 14px;
  }

  .bg-container .estrutura-sw {
    height: 67rem;
  }

  .bg-container .hero-image-1 {
    width: 47%;
    top: unset;
    left: 3%;
    bottom: -4%;
  }
  .bg-container .hero-image-2 {
    width: 23%;
    top: unset;
    right: 3%;
    bottom: -4%;
  }

  .bg-container .game-list {
    left: -23%;
    bottom: -24%;
  }
  .bg-container .game-list h2 {
    width: 36%;
    font-size: 13px;
  }
  .bg-container .game-list ul {
    margin-top: 0;
  }
  .bg-container .game-list ul li {
    font-size: 8px;
    font-weight: 600;
    padding: 0;
  }

  .estrutura-sw .first-divider {
    top: 81%;
  }
  .hero-image-1 {
    top: 61%;
    width: 42%;
    left: 3%;
  }
  .hero-image-2 {
    width: 19%;
    right: 4%;
    top: 62.5%;
  }
  .game-list {
    left: -6%;
    bottom: -1%;
  }

  .images .container-2 #filtro {
    width: 42.2rem;
    height: 12.3rem;
  }

  .atributos {
    height: 104rem;
  }

  .image-divider img {
    width: 100%;
    left: unset;
  }

  .atributos .details {
    left: 44%;
    bottom: 3%;
  }
  .atributos .details h2 {
    font-size: 23px;
  }
  /*  */
  .download .download-image {
    width: 99%;
    top: -7rem;
    left: -40%;
  }
  .download .buttons {
    width: auto;
    top: 4%;
    left: 53%;
    flex-direction: column;
  }
  .download .buttons div {
    height: 8.188rem;
  }
  .download .buttons div h2 {
    font-size: 25px;
  }
  .download .buttons div button {
    width: 8rem;
    font-size: 14px;
    padding: 7px 9px;
  }
  .download .buttons div p {
    font-size: 12px;
  }

  footer {
    width: 100%;
    height: 43rem;
  }
  footer .aplicativos,
  .footer-info {
    margin: 0;
  }

  footer .aplicativos h2 {
    font-size: 50px;
  }
  footer .aplicativos p {
    font-size: 13px;
    font-weight: 300;
    opacity: 77%;
    width: 90%;
  }

  footer .footer-divider {
    margin: 20px 0px;
  }

  footer .footer-info .info-icons {
    align-self: center;
  }
  footer .footer-info p {
    font-size: 13px;
    font-weight: 300;
    opacity: 77%;
    width: 90%;
  }
  footer .darth-vader-footer {
    width: 81%;
    left: 4%;
    bottom: -40%;
  }
}
